snippet $t "protel pomodoro"
$`!p import time; snip.rv = time.strftime('%H:%M')`_protel

$0
endsnippet

snippet $s "selecta pomodoro"
$`!p import time; snip.rv = time.strftime('%H:%M')`_selecta

$0
endsnippet

snippet $w "work pomodoro" b
$`!p import time; snip.rv = time.strftime('%H:%M')`_work

$0
endsnippet

snippet $ "pomodoro" b
$`!p import time; snip.rv = time.strftime('%H:%M')`_$0
endsnippet
