snippet sig_codex "The Codex signature" b
Nicolas Schmitt
Director Académico
CODEX INSTITUTE
endsnippet

snippet bd "Buenos días" b
Buenos días ${1:nombre},

¿Cómo estás?

$0
endsnippet


snippet bt "Buenas tardes" b
Buenas tardes ${1:nombre},

¿Cómo estás?

$0
endsnippet

snippet bn "Buenas noches" b
Buenas noches ${1:nombre},

¿Cómo estás?

$0
endsnippet
