snippet t "Task" b
($0) #${3:cat} +${2:project} ${1:description}
endsnippet

snippet tt "protel" b
($0) #t +protel ${1:description}
endsnippet
	
snippet tp "perso" b
($0) #p +${2:perso} ${1:description}
endsnippet
	
snippet tw "work" b
($0) #w +${2:kahas} ${1:description}
endsnippet
	
snippet to "optional" b
($0) #o +${2:project} ${1:description}
endsnippet
	
snippet tm "Movie" b
($0) #o +movies 2x1 "${1:name}"
endsnippet
