snippet t "Task" b
#${3:cat} +${2:project} ${1:description} *${4:time}
endsnippet

snippet tt "protel" b
#t +protel ${1:description} *${2:time}
endsnippet
	
snippet tp "perso" b
#p +${2:perso} ${1:description} *${3:time}
endsnippet
	
snippet tw "work" b
#w +${2:kahas} ${1:description} *${3:time}
endsnippet
	
snippet to "optional" b
#o +${2:project} ${1:description} *${3:time}
endsnippet
	
snippet tm "Movie" b
#o +movies 2x1 "${1:name}" *0
endsnippet
